{% extends 'base.html.twig' %}

{% block  body %}

	<h2> Formulaire des équipements de Football <h2>

	{{form(equipement_form)}}

	<br></br>
	
	<a href="{{path('allequipement')}}" > Aller à la page des équipements </a>
{% endblock %}	